body{
    background-color: rgb(190, 190, 190);
}
nav .menu{
    display: none;
}
nav:hover .menu{
    display: block;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    background-color: rgb(89, 183, 247);
}
*{
    margin: 0%;
    padding: 0%;
}
nav{
    padding: 20px 10px;
}
nav a{
    color: aqua;
    font-size: 18px
}
.content{
    padding: 10px;
}
h2{
  color: black;
  padding: 20px 0 ;
}
.text p , .item p{
    text-align: justify;
    line-height: 20px;
    padding: 20px 0 ;
}
.cta-btn{
    background-color: rgb(205, 205, 247);
    padding: 10px 20px;
    border-radius: 10px;
}
.cta-btn a{
    color: #7af7fc
}
.missao, .visao, .valores{
    background-color: whitesmoke;
   padding: 20px;
   margin: 20px 0;
   border-radius: 10px;

}
#serviços{
    background-color: gray
    

}
#serviços h2{
    color: white
}
#serviços .item{
    width: 47%;
    display: inline-block;
   text-align: center;
   padding: 1%;
   font-size: 14px;

}
#profissionais .item{
 background-color: white;
 padding: 20px ;
 margin: 20px 0;
 text-align: center;
}
#profissionais .imagem{
    background-color: gray;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 200px;
    margin-bottom: 20px;

}
#contato label{
    width: 100%;
    display: block;
}
#contato input{
    width: 100%;
    font-size: 15px;
    padding: 20px 0;
    margin-top: 10px;
    margin-bottom: 20px;
}
footer{
    background-color: gray;
    padding: 50px 0;
    font-size: 20px;
    color:rgb(0, 0, 0);
    
}